.nature {
  border-color: #a533aa !important;
  color: #a533aa !important;
  background-color: transparent !important;

  &:hover {
    background-color: #a533aa !important;
    color: white !important;
  }
}

.filledNature {
  background-color: #a533aa !important;
  color: white !important;
}

.logic {
  border-color: #3d7f93 !important;
  color: #3d7f93 !important;
  background-color: transparent !important;

  &:hover {
    background-color: #3d7f93 !important;
    color: white !important;
  }
}

.filledLogic {
  background-color: #3d7f93 !important;
  color: white !important;
}
